body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

footer {
    background-color: grey;
    color: #fff;
    padding: 10px;
    text-align: center;
}
